* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 80%;
    margin-left: 10%;
    
}
/* , 콤마 : 그룹으로 묶을수 있다. */
header, main { 
    background-color: aliceblue;
    box-sizing: border-box; /* 패딩이 밖으로 먹지않게, 내가 정해둔사이즈 안으로 먹게 정의를 해둠. */
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content :space-between; /* 축방향 정렬 : 양쪽방향으로 정렬 */
    padding: 20px;
}