.nlist, .btArea {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nlist {
    height: 80px;
}
.nlist > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    font-weight: bold;
    color: white;

    margin: 5px;

}


.sp0{
    background-color: brown;
}

.sp1{
    background-color: orange;
}

.sp2{
    background-color: darkgreen;
}

.sp3{
    background-color: darkblue;
}

.sp4{
    background-color: blueviolet;
}

#spPlus {
    color: black;
    font-size: large;
    font-weight: bold;
}